<div class="footer__top">
  <div class="container">
    <div class="stuff">
      <div class="social-links">
        <a href="https://www.twitter.com/simplworld"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://www.github.com/simplworld"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      </div>
      <p>
        <a href="{% link _pages/index.md %}"><span>Home</span></a>
        <a href="{% link _pages/about.md %}"><span>About</span></a>
        <a href="{% link _docs/index.md %}"><span>Docs</span></a>
        <a href="{% link _pages/blog.md %}"><span>Blog</span></a>
        <a href="https://www.discourse.org/"><span>Forum</span></a>
      </p>
    </div>
  </div>
</div>
