<div class="blog__overlay"></div>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% link _pages/index.md %}">
        <img class="logo" src="/assets/img/simpl_logo.png"/>
        <div class="logo-text">Simpl.world</div>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% link _pages/index.md %}">Home</a></li>
        <li><a href="{% link _pages/about.md %}">About</a></li>
        <li><a href="{% link _docs/index.md %}">Docs</a></li>
        <li><a href="{% link _pages/blog.md %}">Blog</a></li>
        <li><a href="https://www.discourse.org/">Forum</a></li>
        <li><a class="callout" href="/#getupdates">Sign up for News</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
