<div class="call-to-action">
  <div class="words">
    <div id="mc_embed_signup">
      <form class="get-announcements" action="//world.us16.list-manage.com/subscribe/post?u=2eb19ff13fb586949e39f5491&amp;id=adb65cf8d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2eb19ff13fb586949e39f5491_adb65cf8d2" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="SIGNUP FOR UPDATES" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
</div>
