

.events {
  width: 100%;
  color: #fff;
  position: relative;
  height: 415px;
  background: url(../img/tech_bg.png);
  background-repeat: repeat;
  background-size: 47%;
  padding-top: 50px;
  @include when-inside(545px) {
    padding-top: 45px;
    height: 440px;
  }
  @include when-inside(365px) {
    padding-top: 45px;
    height: 505px;
  }
  p {
    margin-top:20px;
    width:100%;
    max-width: 500px;
    margin: 0 auto;
    line-height: 23px;
    font-size: 17px;
    margin-top: 20px;
    font-family: $serif;
    color: lighten($primaryBlue, 25%);
    a {
      color: lighten($primaryBlue, 25%);
    }
  }
  h5 {
    margin-top: 20px;
    font-size: 17px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  display:block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #194175;
  opacity: 0.6;
}

.events__img {
  width: 150px;
  display:block;
  height: 150px;
  margin: 0 auto;
  border-radius: 100%;
  border: 3px solid #fff;
}
