.blog.post {
  .welcome {
    height: 390px;
  }
  .featured-article {
    height: auto;
    margin-top: 10px;
  }
  .featured__title {
    font-size: 38px;
    line-height: 47px;
    max-width: 550px;
    @include small {
      max-width: 100%;
      font-size: 29px;
      line-height: 37px;
    }
  }
  .container-fluid.blog__categories {
    padding: 0px;
    height: 5px;
    .col-sm-12 {
      display:none;
    }
  }
  .articles {
    margin-bottom: 100px;
    margin-top: 80px;
    @include small {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 50px;
    }
    article {
      overflow:visible;
      box-shadow:none;
      border: 1px solid #efefef;
      @include on-event {
          box-shadow: none;
      }
      @include small {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  p {
    color: #272727;
  }
  .articles__profile-img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    margin-top: -25px;
    z-index: 9999;
    border: 1px solid #272727;
  }
  .articles__p {
    padding: 0px 30px 0px 30px;
    &:first-of-type {
      margin-top: 40px;
      &:first-letter {
        font-weight: 700;
        font-size: 35px;
      }
    }
    @include small {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .articles__p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  footer p {
    color: #fff;
  }
}

.blog.post article p {
  padding: 0px 30px 0px 30px;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  &:first-of-type {
    margin-top: 40px;
    &:first-letter {
      font-weight: 700;
      font-size: 35px;
    }
  }
  @include small {
    padding-left: 25px;
    padding-right: 25px;
  }
}
