<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Alegreya:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body class="blog post">
  <div class="welcome aboutUs">
    {% include header-nav.html %}
    <div class="featured-article">
      <div class="featured__type">About Us</div>
      <div class="featured__title">Simpl.world: From ‘Rethinking the Learning Paradigm’ to Reimagining Education</div>
    </div>
  </div>
  <div class="container about">
    <div class="row">
      <div class="col-sm-12">
          <!-- <h6 class="about__highlight">Simpl.world</h6> -->
          <p class="first-letter">Even before the turn of the new millennium,
            conventional wisdom in academic circles has posited
            that information technology would someday revolutionize the learning process.
            Less obvious was how this transformation would take shape, or when.
            But now that this EdTech metamorphosis is finally upon us, one of the
            biggest surprises has been where some of the most cutting-edge IT innovations in education have been incubated: the business school.</p>
            <h6 class="about__highlight">
              The dawn of a global Information Age
              has ushered in the proliferation of knowledge-based organizations,
              and to meet the needs of modernization,
              the “EdTech” reformation has become an outright imperative.
              Essentially, remaining competitive means
              making the leap from teaching about reinvention
              to actually reinventing education.</h6>
            <p>
Being a school of many firsts, it was somewhat natural for Wharton to be out in front when it formally established The Al West Jr. Learning Lab in 2001 through a generous gift from West. The mission of the Learning Lab is to provide a collaborative incubator for driving the development of groundbreaking, high-tech applications in education. In marking his tenure with a strong commitment to maximizing business learning through the development of tech-enabled teaching tools, former Dean Patrick Harker saw the Learning Lab as the linchpin in creating new learning models he believed would be vital to an innovation-driven academic culture. And for West, who deemed class lectures “a slow way to learn,” the program would empower Wharton to truly “rethink the learning paradigm.”

            </p>
            <p>
              And now, almost two decades down the road, our team has delivered on the original mission, with several dozen offerings – and faculty and students clamoring for more.
            </p>

            <div class="u-image-container clearfix">
               <div class="u-image f-img">
                  <img src="/assets/img/about/graph1.png" />
               </div>
               <div class="u-image">
                 <img src="/assets/img/about/graph2.png" />
               </div>
            </div>
            <h5 class="u-title u-center">AL West Jr. Learning Lab: Historical Timeline (1999 to 2017)</div>
            <img class="u-large-img" src="/assets/img/about/learning_lab_history.png" />
            <h5 class="u-title u-center u-spacerUp">Always be Innovating</div>
            <p>
              As the popularity and complex nature
              of Wharton-bred simulations grows,
              so too have the challenges of working with
              third parties to develop and support the Learning Lab’s
              expanding product portfolio. Thus, in the forward-thinking
              spirit of our benefactor, Al West Jr, the facility’s small-but-mighty <a href="http://simulations.wharton.upenn.edu/team/">team</a> has authored an in-house simulation framework all their own — yet another Wharton “first.”
            </p>

            <p>
              Written on Python/Django/React, Simpl.world has gone from white-boarding to proof of concept in less than a year. Though in the early stages of use with one multi-player marketing simulation complete, it is already clear that Simpl.world will allow the Lab to be far more nimble, able to make on-the-spot backend adjustments or implement fresh functionalities to the extensive lineup of projects in the team’s current pipeline.
            </p>

            <p>
              The Lab’s Simpl.world framework (soon to be released as open source) is not only in the spirit of the Wharton School’s relentless drive for innovation, it is in service of the program’s core mission and future goals: (1) establishing a robust community of educators and practitioners who use tools incubated in the Learning Lab in their instruction, in turn providing ideas and feedback for their enhancement while helping to extend these products into new areas; and (2) offering an increasingly sophisticated user experience on par with the demands of an Information Age that shows no signs of slowing down.
            </p>
            <h5 class="u-title u-center u-spacerUp">A Community of Learners</h5>
              <p>The goals of Wharton’s Learning Lab in releasing Simpl.world under open source are … simple!</p>
              <p>
                <ul>
                    <li>Create a community of practitioners and technologists who are keen to leverage the power of an open source simulation platform, and in return will feed back their own learnings for the improvement of the community’s offering.</li>
                    <li>Democratize education by lowering and where possible removing the expensive barriers of entry for creating innovative learning experiences</li>
                    <li>Extend the wealth of already available open source technologies to deliver more offerings and improvements for Simpl.world beyond the business school … for every school.</li>
                </ul>
              </p>
              <h5 class="u-title u-center">A Special Thanks to the team who made it possible</h5>

              <div class="container team">
                <div class="row">
                    <div class="col-sm-3">
                      <img src="/assets/img/about/sarah_toms.png" />
                    </div>
                    <div class="col-sm-9">
                      <h4>Sarah Toms</h4>
                      <p>IT Technical Director and Co-inventor, Simpl.world</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                      <img src="/assets/img/about/jane_eisenstein.png" />
                    </div>
                    <div class="col-sm-9">
                      <h4>Jane Eisenstein</h4>
                      <p>Senior Application Developer and Co-inventor, Simpl.world</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                      <img src="/assets/img/about/joe_lee.png" />
                    </div>
                    <div class="col-sm-9">
                      <h4>Joseph Lee</h4>
                      <p>Senior Technical Project Manager and Co-inventor, Simpl.world</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                      <img src="/assets/img/about/chad_whitman.png" />
                    </div>
                    <div class="col-sm-9">
                      <h4>Chad Whitman</h4>
                      <p>Designer/Developer, and Simpl.world website designer</p>
                    </div>
                </div>
              </div>
              <p class="rev-thanks">
                Simpl.world would not have been possible without the skill, sage guidance and unfaltering partnership with <a href="http://www.revsys.com/">Revsys</a>. Thank you <span>Frank Wiles</span>, <span>Flavio Curella</span>, <span>Jeff Triplett</span> and <span>Stephen Spencer</span>!
              </p>
              <img class="u-medium-img" src="/assets/img/about/revsys_team.jpg" />
      </div>
    </div>
  </div>
  <footer>
    {% include post-call-to-action.html %}
    {% include footer-nav.html %}
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
