<!doctype html>
<html class="no-js docs__html" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% seo %}
  <meta name="description" content="An open source game and simulation framework">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Alegreya:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body class="doc">
  <div class="navigation">
    <header class="header clearfix">
      <a href="/"><img class="logo" src="/assets/img/simpl_logo.png" /></a>
      <h2 class="title">Simpl Documentation</h2>
    </header>
    <nav>
      <!-- START all sidebar navigation -->
      <ul class="nav nav-component">
        <!-- START nav component -->
        <li class="nav__section-title">User Documentation</li>
        <li><a href="#">Getting Started</a></li>
        <li class="toggle">
          <a href="#" id="btn-1" class="toggle-nav" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Versions</a>
          <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
            <li><a href="#">Version 1</a></li>
            <li><a href="#">Version 2</a></li>
            <li><a href="#">Version 3</a></li>
          </ul>
        </li>
        <li><a href="#">Build Process</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Setting up Github</a></li>
        <li class="toggle">
          <a href="#" id="btn-2" class="toggle-nav" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">API Helpers</a>
          <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-2">
            <li><a href="#">Helper 1</a></li>
            <li><a href="#">Helper 2</a></li>
            <li><a href="#">Helper 3</a></li>
          </ul>
        </li>
      </ul>
      <!-- END nav component -->
      <ul class="nav nav-component">
        <!-- START nav component -->
        <li class="nav__section-title">Tutorial Documentation</li>
        <li><a href="#">Getting Started</a></li>
        <li class="toggle">
          <a href="#" id="btn-3" class="toggle-nav" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">Versions</a>
          <ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-3">
            <li><a href="#">Version 1</a></li>
            <li><a href="#">Version 2</a></li>
            <li><a href="#">Version 3</a></li>
          </ul>
        </li>
        <li><a href="#">Build Process</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Setting up Github</a></li>
      </ul>
      <!-- END nav component -->
      <ul class="nav nav-component">
        <!-- START nav component -->
        <li class="nav__section-title">Featured Documentation</li>
        <li><a href="#">Getting Started</a></li>
      </ul>
      <!-- END nav component -->
    </nav>
    <div class="doc__spacer nav-spacer"></div>
    <!-- END all sidebar navigation -->
  </div>
  <header class="m-header">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <h2>Simpl.world Documentation</h2>
  </header>
  <div class="content">
    <!-- START all content -->
    <div class="content__header">
      <ol class="breadcrumb">
        <li><a class="anchor" href="#">Docs</a></li>
        <li><a href="#">Getting Started</a></li>
        <li class="active">Current Item</li>
        <div class="edit-on-github"><a href="#">Edit on Github</a></div>
      </ol>
    </div>
    <h2>Getting Started Placeholder</h2>

    <div class="note">
      <div class="note__header"><i class="fa fa-info-circle" aria-hidden="true"></i>Note</div>
      <p>
        These docs are just a placeholder until our real documentation is ready.  Just working on the layout and visual design here for now. Try back later!
      </p>
    </div>

    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
      here, content here', making it look like readable English. Many desktop publishing packages and web page editors now</p>

    <p>It is a long established fact that a reader will be distracted by the It is a long established fact that a reader will be distracted by the:</p>

    <ul class="content__list">
      <li><a href="#">In Text</a></li>
      <li><a href="#">In Markdown</a></li>
    </ul>

    <h3>Subheading Thing</h3>

    <p>It is a long established <a href="#">fact</a> that a reader will be distracted by the It is a long established fact that a reader will be distracted by the:</p>

    <code>
      <span>Try this first:</span> git clone https://something-awesome.git
    </code>

    <p>It is a long established <a href="#">fact</a> that a reader will be distracted by the It is a long established fact that a reader will be distracted by the:</p>

    <pre>$  pip install django-awesomesauce <br />$  mkdir awesomesauce <br />$  webpack awesomsauce</pre>

    <div class="note">
      <div class="note__header"><i class="fa fa-info-circle" aria-hidden="true"></i>Note</div>
      <p>
        letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and we ook like readable English. Many desktop publishing packages and we ook like readable English. Many desktop publishing
        packages and we ook like readable English. Many desktop publishing packages and we
      </p>
    </div>

    <p>It is a long established <a href="#">fact</a> that a reader will be distracted by the It is a long established fact that a reader will be distracted by the: nt of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
      to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and we</p>
    <div class="doc__spacer"></div>
  </div>
  <!-- END all content -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    $(".fa.fa-bars").click(function() {
      $(".navigation").toggleClass("toggleMe");
    });
  </script>
</body>

</html>
