<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Alegreya:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body class="blog post">
  <div class="welcome">
    {% include header-nav.html %}
    <div class="featured-article">
      <div class="featured__type">Author: {{ page.author | default:"Bob Didn't Write This" }}</div>
      <div class="featured__title">{{ page.title }}</div>
    </div>
  </div>
  {% include post-categories.html %}
  <div class="container articles">
    <div class="row">
      <div class="col-sm-12">
          <article>
            <img class="articles__profile-img" src='{{ page.author_photo | default:"/assets/img/blog/st.jpg" }}' />
            {{ content }}
          </article>
      </div>
    </div>
  </div>
  <footer>
    {% include post-call-to-action.html %}
    {% include footer-nav.html %}
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
