// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background: #272727;
  position: relative;
  .logo {
    position: absolute;
    top: 34px;
    width: 30px;
    opacity: 0.7;
  }
  .container {
    position: relative;
  }
}

.blog footer {
  border-top: 1px solid darken(#efefef, 3%);
}

.footer__top {
  height: 120px;
  background: lighten(#000000, 10%);
  a {
    color: #fff;
    @include on-event {
      text-decoration: none;
    }
  }
}

.stuff {
  text-align: center;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
  margin-top:40px;
  span {
    display:inline-block;
    margin: 0px 8px;
  }
}

.social-links {
  margin-top:5px;
  margin-bottom:12px;
  .fa {
    font-size: 16px;
    margin-right:5px;
  }
}

.call-to-action {
  background: #242526;
  text-align: center;
  color:#fff;
  position: relative;
  height: 320px;
  background-image: url('/assets/img/cityBG.png');
  background-size: 100% 100%;
  padding-top: 35px;
  p {
    font-family: $sans;
    font-size: 13px;
    margin-top: 20px;
    @include break {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}

.blog {
  .call-to-action {
    height: 180px;
    color: #888;
    background-image: none;
    background: #FCFCFD;
    padding-top: 46px;
  }
}



.call-overlay {
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 99;

}

#mc_embed_signup {
  width: 500px;
  margin: 0 auto;
  @include small {
    max-width: 310px;
  }
}

.get-announcements input {
  width:100%;
  padding: 1em 2em;
  border-radius: 3px;
  border:0px;
  background: transparent;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  @include on-event {
    outline: none;
  }
}

.blog {
  .get-announcements input {
      border: 1px solid darken(#E9E9E9, 10%);
      background: #F7F7F7;
  }
}



.get-announcements button {
  border: 1px solid #fff;
}

#mc-embedded-subscribe {
  border: 1px solid #fff;
  width: 150px;
  color:#fff;
  border-radius: 16px;
  margin: 0 auto;
  position: relative;
  display:block;
  margin-top: 30px;
  font-family: $sans;
  @include on-event {
    background: #fff;
    color:#272727;
  }
}

.blog {
  #mc-embedded-subscribe {
    position: absolute;
    right: 0px;
    top: 21px;
    border-radius: 0px;
    border: 0px;
    background: #323232;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    font-weight: 300;
    @include on-event {
      background: #323232;
      color:#fff;
    }
  }
}
.words {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  opacity:0.9;
  h2 {
    font-size: 28px;
    @include small {
      font-size: 24px;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
    font-family: $sans;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
      font-family: $sans;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
      font-family: $sans;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $sans;
}

.blog {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
      font-family: $sans;
  }
  ::-moz-placeholder { /* Firefox 19+ */
        color: #888;
      text-transform: uppercase;
      font-size: 12px;
        font-family: $sans;
  }
  :-ms-input-placeholder { /* IE 10+ */
        color: #888;
      text-transform: uppercase;
      font-size: 12px;
        font-family: $sans;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
      font-family: $sans;
  }
}
